@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.bottom-row {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-top: 1px solid #d6d5d5;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {

}

@media (min-width: 768px) {

}

#presentation {
    background-color: #eee;
    padding: 16px;
    height: calc(100vh - 14em);
    max-height: calc(100vh - 14em);
    overflow-y: auto;
}

#presentation > .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.browser-item {
    flex: 1 1 33%;
    margin-right: 8px;
    margin-bottom: 16px;
    height: 120px;
    background-color: #fff;
    transition: transform 0.3s;
    cursor: pointer;
    max-width: 320px;
    animation-fill-mode: backwards !important;
}

.browser-item:hover{
    transform: scale(1.05);
}