@page "/Browser"

<Modal @ref="ModalRef" ShowAnimation="ModalShowAnimation.BounceIn" />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="flex: 1 1 100%; display: flex; align-content: space-evenly;">
        <div>
            <a href="./">
                <span class="oi-media-skip-backward">back</span>
            </a>
            <span class="navbar-brand">Browser</span>
        </div>
        <div style="flex: 1 1 auto; overflow: hidden; text-align: center;">
            <span style="text-overflow: ellipsis; overflow: hidden; max-width: calc(100vw - 480px);" class="navbar-brand mr-0">@currentItem.Name</span>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input @bind="FilterText" @bind:event="oninput" class="form-control mr-sm-2" type="text" placeholder="Filter..." aria-label="Search">
        </div>
    </div>
</nav>

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach (var item in breadcrumbList)
            {
                <BreadcrumbItem isActive="item.Id==currentItem.Id" item="item" ClickCallback="NavigateBack" />
            }
        </ol>
    </nav>
    <div id="presentation">
        @if (contentList is null)
        {
            <div class="text-center">Loading...</div>
        }
        else if (contentList.Count == 0 && fullList.Count > 0)
        {
            <div class="text-center">No data match your search.</div>
        }
        else if (contentList.Count == 0)
        {
            <div class="text-center">No data to show.</div>
        }
        else
        {
            <div class="content">
                @{
                    Random rand = new Random();
                    for (int i = 0; i < contentList.Count; i++)
                    {
                        <BrowserItem ClickCallback="Navigate" item="contentList[i]" />
                    }
                }
                @{
                    int placeholder_div = 3 - contentList.Count % 3;
                    for (int i = 0; placeholder_div < 3 && i < placeholder_div; i++)
                    {
                        <BrowserItem />
                    }
                }
            </div>
        }

    </div>
</div>