@page "/Browser"

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <a href="./">
            <span class="oi-media-skip-backward">back</span>
        </a>
        <a class="navbar-brand">Browser</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">root</li>
        </ol>
    </nav>
    <div id="presentation">
        @if (contentList is null)
        {
            <div class="text-center">Loading...</div>
        }
        else if (contentList.Count == 0)
        {
            <div class="text-center">No data to show.</div>
        }
        else
        {
            <div class="content">
                @for (int i = 0; i < contentList.Count; i++)
                {
                    <div style="animation-delay: @((i * 100) + "ms")" class="browser-item animate__animated animate__faster animate__jackInTheBox ">@contentList[i].Name</div>
                }
                @{
                    int placeholder_div = 3 - contentList.Count % 3;
                    for (int i = 0; placeholder_div < 3 && i < placeholder_div; i++)
                    {
                        <div style="visibility: hidden" class="browser-item">placeholder</div>
                    }
                }
            </div>
        }



    </div>
</div>