@page "/"

<h1 class="text-center">Search here!</h1>
<div class="form-group">
    <input class="form-control" type="text" />
</div>

<div>
    <h1 class="text-center font-weight-bold">OR</h1>
    <h4 class="text-center">you can browse apps from <button type="button">here</button></h4>
</div>
