@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <div class="bottom-row px-5">
        <span>© KOD by Mohammad™</span>
    </div>
</div>
