
@if (!(item is null) && !item.IsFolder)
{
    <button @onclick="ActivateMe" class="dropdown-item d-flex" title="@($"root\\{item.Location}")">
        <img class="mr-3 align-self-center search-item-image" src="@($"{Config.ApiUrl}GetImage?ImageName={item.ImageName}")" style="width: 32px; height: auto;">
        <div class="lead align-self-center overflow-ellipsis">@item.Name</div>
    </button>
}

@code {

        [Parameter] public AppItem item { get; set; } = null;
        [Parameter] public Action<AppItem> ClickCallback { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void ActivateMe()
    {
        ClickCallback(item);
    }
}
